* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;
  background-image: radial-gradient(
    circle,
    #3a3b38,
    #2f3230,
    #262928,
    #1e2020,
    #161718
  );
}

/* ----------- ALUMNO ----------------- */
/* Aca debe colocar los estilos necesarios para generar el layout
 que se ve en la imagen*/

/* ------------------------------------ */

/* Color de fondo según tipo */
.normal {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(168, 167, 122, 1) 100%
  );
}
.agua {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(99, 144, 240, 1) 100%
  );
}
.fuego {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 129, 48, 1) 100%
  );
}
.electricidad {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 208, 44, 1) 100%
  );
}
.planta {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(122, 199, 76, 1) 100%
  );
}
.veneno {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(104, 40, 90) 100%
  );
}
/* div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
} */


.padre {
  display: grid;
  grid-template: repeat(4, minmax(200px, 1fr)) / repeat(12, minmax(200px, 1fr));
  grid-template-areas:
    " x x x n n a a "
    " x x x f f e e "
    " x x x p p v v ";
}

.padre > div {
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.normal {
  grid-area: n;
}
.agua {
  grid-area: a;
}
.fuego {
  grid-area: f;
}
.electricidad {
  grid-area: e;
}
.planta {
  grid-area: p;
}
.veneno {
  grid-area: v;
}
@media only screen and (max-width: 900px) {
  .padre {
    grid-template: repeat(auto-fit, minmax(10px, 1fr)) / 1fr;
    grid-template-areas:
      "n"
      "a"
      "f"
      "e"
      "p"
      "v";
  }
}